project_id = "arlpfhuxbnyexqlzajfs"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
shadow_port = 54320
major_version = 15

[studio]
enabled = true
port = 54323
api_url = "http://localhost"

[inbucket]
enabled = true
port = 54324

[functions.search-leads]
verify_jwt = false


[storage]
enabled = true

[auth]
enabled = true
site_url = "http://localhost:3000"

[functions.import-leads]
verify_jwt = true

[functions.analyze-site]
verify_jwt = true

[functions.detect-interest]
verify_jwt = true

[functions.sdr-decision-engine]
verify_jwt = true
